* {
   box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: flex-start;
    background: lightcoral;
}

.reset-button {
    font-size: 16px;
    height: 40px;
    line-height: 8px;
    margin-top: 20px;
}

.win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

button {
    background: green;
    border-radius: 8px;
    color: aliceblue;
    cursor: crosshair;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 16px;
    max-width: 250px;
    padding: 20px 50px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.5em;
}

header {
    padding: 40px;
    text-align: center;
    background: cornflowerblue;
    color: aliceblue;
    border-bottom: 30px pink;

    background: cornflowerblue;
    color: aliceblue;
    border-bottom: 30px cornsilk;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: aquamarine;
    border-radius: 8px;
}
.word-guess {
    width: 54vw;
    height: 350px;
}

.results {
    width: 30vw;
    height: 350px;
}

.card {
    background: radial-gradient(circle, pink);
    border: 1px solid pink;
    border-radius: 8px;
    box-shadow: black 0 1px 1px 0;
    margin: auto;
    padding: 20px;
}

.large-font {
    font-size: 3.5em;
    text-align: center;
}

.timer {
    height: 240px;
    padding: 10px;
    background: red;
    color: aquamarine;
    text-align: center;
}

.timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}